* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #020d0d;
  height: 50px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.header-text {
  width: calc(100% - 90px);
  text-align: center;
}

.burger-menu {
  background-color: #3ea8a8;
  font-size: 2rem;
  width: 45px;
  padding: 0 7px;
}

.add-entry-button {
  font-size: 2rem;
  background-color: #3ea8a8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.list-table {
  width: 100%;
}

.list-table td,
.list-table th {
  width: calc(100% / 3);
  padding: 0 10px;
}

.view-single-entry-button {
  background-color: #3ea8a8;
  border-radius: 5px;
  width: 75%;
  margin: auto;
  padding: 0 10px;
  color: #020d0d;
}

.view-single-entry-button:hover {
  color: #020d0d;
  text-decoration: none;
}

.list-container {
  overflow-y: auto;
  height: calc(100vh - 50px);
}

.single-entry-container {
  padding-top: 5%;
  height: calc(100vh - 50px);
}

.single-entry-container th,
.single-entry-container td {
  padding-left: 10px;
}

.entry-information-table-th {
  width: 40%;
  vertical-align: top;
  text-align: start;
}

.show-menu {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  height: calc(100vh - 50px);
  bottom: 0;
}

.open-menu {
  width: 140px;
  height: calc(100vh - 50px);
  background-color: white;
}

.open-menu a {
  color: black;
  height: 10%;
  text-decoration: none;
}

.open-menu a:hover {
  background-color: #3ea8a8;
}

.open-menu div {
  color: black;
  height: 10%;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.canvas-background {
  height: 60vh;
  width: 90vw;
}

.modal-pop-up-bg {
  background-color: white;
}

.download-button {
  background-color: #3ea8a8;
  border-radius: 5px;
  margin: auto;
  padding: 0 10px;
  color: #020d0d;
}

.sign-in-form-container {
  height: calc(100vh - 50px);
}

#root {
  height: 100vh;
}
