* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #020d0d;
  height: 50px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.header-text {
  width: calc(100% - 90px);
  text-align: center;
}

.burger-menu {
  background-color: #3ea8a8;
  font-size: 2rem;

  /* position: fixed;
  left: 8px; */
  width: 45px;
  padding: 0 7px;
}

.add-entry-button {
  font-size: 2rem;
  background-color: #3ea8a8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.entry-list-table {
  width: 90%;
  text-align: center;
}

.entry-list-table td {
  width: calc(100% / 3);
}

.amount-td {
  text-align: start;
}

.view-single-entry-button {
  background-color: #3ea8a8;
  border-radius: 5px;
  width: 75%;
  margin: auto;
  padding: 0 10px;
  color: #020d0d;
}

.view-single-entry-button:hover {
  color: #020d0d;
  text-decoration: none;
}

.list-container {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  height: calc(100vh - 50px);
}

.single-entry-container {
  padding-top: 15%;
  height: calc(100vh - 50px);

  /* width: 100; */
}

.single-entry-container th,
.single-entry-container td {
  padding-left: 10px;
}

.entry-information-table-th {
  width: 40%;
  vertical-align: top;
  text-align: start;
}

.open-menu {
  position: fixed;
  width: 40%;
  height: calc(100vh - 50px);
  background-color: #3ea8a8;
  bottom: 0;
}

#root {
  height: 100vh;
}
